:root {
	--main-font: "Nunito", sans-serif;
	--main-font-color: #272142;

	--highlight-blue: #0ba2ac;
}



h1, form{
  font-weight: bold;
  text-align:center;
  color:var(--highlight-blue)
}



h2{
 color: var(--highlight-blue);
 text-transform: capitalize;}
 
 h3{
   color: var(--main-font-color);
   font-size: 30px; 
}

section{
  background: #f8fcfb;
  margin: 10px;
  padding:10px;
  border-radius:5px;
box-shadow: 3px 5px 9px 1px rgba(36,114,145,0.10);
}


.dictionary {
  text-align: left;
  font-family: var(--main-font);
}
.search-submit-btn{
  margin:10px;
  padding: 0px, 10px;
  background: white;
  border: 1px solid #247291;
  color: var(--highlight-blue);
  border-radius: 3px;
}
.search-submit-btn:hover{
  background: #247291;
  border: 1px solid #247291;
  color: white
}

.meaning-example{
  font-style: italic;
  font-size: 15px;
  line-height: 12px;
  color:rgba(0,0,0,0.5)
}

.phoentic a{
  text-decoration: none;
  color:var(--highlight-blue);
  border: 1px solid var(--highlight-blue);
  border-radius: 20px;
  padding: 5px 10px;
  margin:10px
}

.phoentic{
  margin: 20px;
  
}
.phoentic a:hover{
  color:White;
  border: 1px solid var(--highlight-blue);
  background: var(--highlight-blue);
}
.phoentic span{
  font-family: 'Courier New', Courier, monospace;
  margin:10px
}

.Synonyms ul{
  display: inline-block;
  list-style-type: none ;
  color:var(--highlight-blue);
    font-family: 'Courier New', Courier, monospace;

}
.imageGallery img{
  margin:5px;
  border-radius: 5px;
}



